<launch>
	<node pkg = "oryxbot_kinematics" type="oryxbot_kinematics_node" name="oryxbot_kinematics" output="screen">
	<param name="kinematics_mode" type="int" value="4"/>
	<param name="max_vx" type="double" value="0.2" />
	<param name="max_vy" type="double" value="0.2" />
	<param name="max_vth" type="double" value="0.5" />
	<!--four wheel omni-directional drive, kinematics_mode = 4-->
	<param name="width" type="double" value="0.268"/>
	<param name="length" type="double" value="0.225"/>
	<param name="wheel_radius" type="double" value="0.038"/>
	</node>
	<node pkg = "oryxbot_kinematics" type="odometry_node" name="odometry"/>
</launch>
